.slider_text {
  /* CAROUSEL */
  bottom: 10rem;
}

.slider-image {
  height: 940px;
}

/* SERVİCES */
.circle {
  display: flex;
  background-color: crimson;
  color: #fff;
  border-radius: 100px;
  height: 100px;
  width: 100px;
  margin: auto;
  justify-content: center;
  align-items: center;
}

/* ABOUT US */
.product-img {
  object-fit: cover;
}

/* OUR TEAm */
.sosyal {
  display: inline-block;
  background-color: #333;
  width: 40px;
  height: 40px;
  color: #fff;
  border-radius: 50%;
  line-height: 40px;
}

/* CONTACT US */
.contact {
  background: url(../img/map.jpeg);
  background-size: cover;
}
